pipeline/BatchProcessing.json
{
	"name": "BatchProcessing",
	"properties": {
		"activities": [
			{
				"name": "GetFilesInFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceFileASF",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IterateThroughFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFilesInFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFilesInFolder').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "MoveDataToDatalake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "TimeLoaded",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureFileStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceFileASF",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "StagingParquet",
									"type": "DatasetReference",
									"parameters": {
										"parquetFileName": {
											"value": "@replace(item().name, '.csv', '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "MoveDataToStg",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MoveDataToDatalake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "StagingParquet",
									"type": "DatasetReference",
									"parameters": {
										"parquetFileName": {
											"value": "@replace(item().name, '.csv', '.parquet')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDBOConnection",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@replace(item().name, '.csv', '')",
											"type": "Expression"
										},
										"schema": "stg"
									}
								}
							]
						},
						{
							"name": "CreateNewTableForFails",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MoveDataToStg",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"additionalColumns": [
										{
											"name": "Error",
											"value": {
												"value": "@activity('MoveDataToStg').output.error",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "StagingParquet",
									"type": "DatasetReference",
									"parameters": {
										"parquetFileName": {
											"value": "@replace(item().name, '.csv', '.parquet')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDBOConnection",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@replace(item().name, '.csv', '')",
											"type": "Expression"
										},
										"schema": "err"
									}
								}
							]
						},
						{
							"name": "FindMapping",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "MoveDataToStg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT TableName \nFROM FileToTableMapping \nWHERE FileName = '@{item().name}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureDBOConnection",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "FileToTableMapping",
										"schema": "dbo"
									}
								}
							}
						},
						{
							"name": "MoveToStg",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "FindMapping",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "MoveToDBO",
									"type": "DataFlowReference",
									"datasetParameters": {
										"StagingTable": {
											"tableName": "@replace(item().name, '.csv', '')",
											"schema": "stg"
										},
										"SaveToDBO": {
											"tableName": {
												"value": "@activity('FindMapping').output.firstRow.TableName",
												"type": "Expression"
											},
											"schema": "dbo"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-24T15:11:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}