pipeline/BatchProcessing.json
{
	"name": "BatchProcessing",
	"properties": {
		"activities": [
			{
				"name": "GetFilesInFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceFileASF",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IterateThroughFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFilesInFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFilesInFolder').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "MoveDataToDatalake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetParquetName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureFileStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@variables('fileName')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceFileASF",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "StagingParquet",
									"type": "DatasetReference",
									"parameters": {
										"parquetFileName": {
											"value": "@variables('parquetName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SetParquetName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "parquetName",
								"value": {
									"value": "@replace(item().name, '.csv', '.parquet')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTableName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "stgTableName",
								"value": "@replace(item().name, '.csv', '')"
							}
						},
						{
							"name": "SetFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "MoveDataToStg",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MoveDataToDatalake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "StagingParquet",
									"type": "DatasetReference",
									"parameters": {
										"parquetFileName": {
											"value": "@variables('parquetName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDBOConnection",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@replace(item().name, '.csv', '')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"stgTableName": {
				"type": "String"
			},
			"parquetName": {
				"type": "String"
			},
			"fileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-24T15:11:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}